.search-body{
  margin: 0 10vw;
}

.language-filter{
  width: 50%; text-align: left;
}

.search-result{
  border-left: none; border-right: none;
}

.search-result__star-icon{
  color: yellow;
}

.spinner{
  width: 5rem; height: 5rem;
}

.error-message{
  width: 83vw; 
  margin:0 auto;
}
