.search-body{
  margin: 0 10vw;
}

.search-result{
  border-left: none; border-right: none;
}

.search-result__star-icon{
  color: yellow;
}

.platform-filter{
  margin-top: 20px;
}

.spinner{
  width: 5rem; height: 5rem;
}

.error-message{
  width: 83vw; 
  margin:0 auto;
}
