.search-body{
  margin: 0 10vw;
}

.search-result{
  border-left: none; 
  border-right: none;
  padding: 0.2em 0.5em;
}

.search-result__description{
  margin-bottom: 0.5em;
}

.search-result__star-icon{
  color: yellow;
}

.search-result__platform-icon{
  width: 3vw;
}

.platform-filter{
  margin-top: 20px;
}

.spinner{
  width: 5rem; height: 5rem;
}
