<div class="owner-info__container">
  <h5 class="owner-info__title" >Owner Information</h5>
  <div class="card card--modified">
    <img class="card-img-top card-img-top--modified" [src]="ownerInfo.avatarURL" alt="Owner profile avatar">
    <div class="card-body card-body--center">
      <h6 class="card-body__text">Owner Name: {{ ownerInfo.ownerName }}</h6>
        <p class="card-body__text">
          <a [href]="ownerInfo.profileURL" target="_blank" class="btn btn-primary btn--modified">Go To Owner Profile Page</a>
        </p>
    </div>
  </div>
</div>
