@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  /* font-family: Open Sans; */
}

a {
    color: #212529;
}


section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 30px 35px;
    margin-top: 50px;
}

