<footer class="footer">
    <div class="row">
        <div class="footer__left col-sm-4">
            <h5 class="footer__product-name">
                Open Source Search Platform
            </h5>
            <p class="footer__description">
                A centralized platform applied machine learning model to predict open-source 
                projects future commits across three popular hosting websites: GitHub, GitLab
                and BitBucket.
            </p>
        </div>
        <div class="footer__center col-sm-3">
            <div class="row row--modifed">
                <div class="col-sm-2">
                    <p class="footer__icon"><fa-icon [icon]="mapMarkedIcon"></fa-icon> </p>  
                </div>
                <div class="col-sm-6">
                    <p class="footer__icon-info">160 Convent Ave 
                        <span class="footer__address">New York, NY 10031</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <p class="footer__icon">
                        <fa-icon [icon]="phoneIcon"></fa-icon>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="footer__icon-info footer__icon--line-height">(212) 650-7000</p>
                </div>
            </div>
        </div>
        <div class="col-sm-5" style="text-align: center;">
            <h5 class="footer__team-name">Team: 100K-Offers</h5>
            <h6 class="footer__team-info">Members: </h6>
            <div class="footer__team-info">
                <span class="footer__member-name">Jie Lan</span>
                <span class="footer__member-name--padding">Bida Chen</span>
                <span>Kaihang Chen</span>
            </div>
                
            
            <div class="footer__icon-block">
                <div class="footer__contact-block footer__contact-block--padding-68">
                    <a href="https://github.com/JiejayLan" target="_blank" class="footer__github-icon">
                        <fa-icon [icon]="gitHub"></fa-icon>
                    </a>
                <a class="footer__platform-icon" href="https://www.linkedin.com/in/jie-lan-029a04141/" target="_blank" >
                    <fa-icon [icon]="linkedIn"></fa-icon>
                </a>
                </div>
                <div class="footer__contact-block">
                    <a href="https://github.com/bidachen" target="_blank" class="footer__github-icon">
                        <fa-icon [icon]="gitHub"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/bida-chen/" target="_blank" >
                        <fa-icon [icon]="linkedIn"></fa-icon>
                    </a>
                </div>
                <div class="footer__contact-block footer__contact-block--padding-20">
                    <a href="https://github.com/Kaihchen1230" target="_blank" class="footer__github-icon">
                        <fa-icon [icon]="gitHub"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/kaihangchen/" target="_blank">
                        <fa-icon [icon]="linkedIn"></fa-icon>
                    </a>
                </div>
            </div>
                      
            
        </div>
    </div>
    <div class="footer-_reserved-section">
        <p>© 2020 100K-Offers All Rights Reserved. | <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>

    </div>
    
    <!-- <div style="width: 40%; border: 1px black solid; display: inline-block;">
        <h5>100K-Offers</h5>
    </div>  -->

    <!-- <div class="row text-center">
    </div> -->
    
</footer>