<footer class="footer-distributed">
    
    <div style="width: 40%; border: 1px black solid; display: inline-block;">
        <h5>Open Source Search Platform</h5>
    </div>
    <div style="width: 20%; border: 1px black solid; display: inline-block;">
        <p>Location</p>
        <p>Phone</p>
    </div>
    <div style="width: 40%; border: 1px black solid; display: inline-block;">
        <h5>100K-Offers</h5>
    </div>

    <!-- <div class="row text-center">
        <p>© 2020 100K-Offers All Rights Reserved. | <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>
    </div> -->
    
</footer>