<div>
  <div class="d-flex justify-content-center" *ngIf="isFetching && !errorMes" >
    <div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errorMes" style="width: 83vw; margin:0 auto">
    <h1>An Error Occurred!</h1>
    <p>{{ errorMes }}</p>
    <button class="btn btn-danger" (click)="onHandleError()">OKAY!</button>
  </div>

  <div class="row row--modify-margin" *ngIf="!isFetching && !errorMes">

    <div class="col-sm-12 col-md-4">
      <div class="card card--modified">
        <img class="card-img-top card-img-top--set-width" [src]="repoInfo.repoAvatarURL" [alt]="repoInfo.imgAlt" >
        <div class="card-body">
          <h5 class="card-title">Repo Name: {{repoInfo.repoName}}</h5>
          <p class="card-text"><span class="card-text--bold">Created Date: </span>{{ repoInfo.createdDate }}</p>
          <p class="card-text" *ngIf="repoInfo.description"><span class="card-text--bold">Description:</span>  {{repoInfo.description}}</p>
          <a [href]="repoInfo.repoURL" target="_blank" class="btn btn-primary">Go To Repo Source</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <app-owner-info [ownerInfo]="ownerInfo"></app-owner-info>
        </div>
        <div class="col-sm-12 col-md-5">
          <app-repo-info [repoInfo]="repoInfo"></app-repo-info>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-10">
          <app-trending-info [commits]="commits"></app-trending-info>

        </div>
      </div>
    </div>
  </div>
  <hr *ngIf="!isFetching && !errorMes">
  <div class="row" style="margin: 0 8vw" *ngIf="!isFetching && !errorMes">

    <app-similar-repos [repoName]="repoName"></app-similar-repos>
  </div>

  </div>




