:host {
  margin-bottom: 10vh;
}

.card-text:hover {
  text-decoration: underline;
}
.middle {
  float: left;
  width: 90%;
  overflow: auto;
  white-space: nowrap;
}
.info-widget {
  margin: 0 10px;
  border: 1px solid black;
  display: inline-block;

}
.no-margin-left{
  margin-left: -5px;
}
.no-margin-right{
  margin-right: -5px;
}
.paddles {
}
.paddle {
	/* position: absolute;
	top: 0;
	bottom: 0;
  width: 3em; */

  border: 1px solid black;
  border-radius: 0;
  height: 144px;
}
.left-paddle {
  /* border-right: 0; */
  /* height: 144px; */

}
.right-paddle {
  /* border-left: 0; */
  /* height: 142px; */
}
