<div class="container">
  <div  style="float: left">
    <button class="btn paddle left-paddle" (click)="scrollLeft()"> < </button>
  </div>
  <div #widgetsContent class="middle">
    <div
      class="info-widget"
      *ngFor="let similarRepo of similarRepos; let i = index;"
    >
      <div
      class="card"
      style="cursor: pointer; height: 142px;"


      (click)="ClickSimilarRepo(similarRepo.repoName)">
      <div class="card-body">

        <h5 class="card-title">
          <a [routerLink]="['/detail-page', similarRepo.platform, similarRepo.repoName]">{{ similarRepo.repoName }}</a>
          </h5>
        <p class="card-text"
        [ngbTooltip]="similarRepo.description"
        placement="bottom-left"
        style="z-index: 1000"
        >
        <span *ngIf="similarRepo.description">
          {{ similarRepo.description.slice(0,54) }} ...
        </span>
        </p>
        <div class="row">
          <div class="col-sm-1">
            <fa-icon [icon]="github" *ngIf="similarRepo.platform === 'github'"></fa-icon>
            <fa-icon [icon]="gitlab" *ngIf="similarRepo.platform === 'gitlab'"></fa-icon>
            <fa-icon [icon]="bitbucket" *ngIf="similarRepo.platform === 'bitbucket'"></fa-icon>
          </div>
          <div class="col-sm-5">
            <span >
              <fa-icon [icon]="star" style="color: yellow"></fa-icon>: {{ similarRepo['starCount'] }}
            </span>

          </div>
        </div>
      </div>
    </div>
    </div>

  </div>
  <div class="">
    <button class="btn paddle right-paddle" (click)="scrollRight()">></button>
  </div>
</div>

