<div class="row header">
  <div class="col-sm-1 col-md-1 col-lg-1 header__logo-block">
        <a routerLink="/">
          <img src="{{logoImagePath}}" alt="logo image">
        </a>
  </div>
  <div class="col-sm-8 col-md-5 col-lg-5 header__search-block">
    <form (ngSubmit)="submitSearchTerm()" #f="ngForm" >
      
      <div class="input-group input-grou--modified">
        <input
            type="text"
            class="form-control header__input"
            placeholder="Search For Open Source Projects"
            [ngModel]="searchTerm"
            name="searchTerm"
          >
          <button type="submit" class="btn header__search-button">
            <div class="input-group-prepend" >
              <fa-icon [icon]="searchIcon"></fa-icon>
            </div>
          </button>
      </div>
    </form>
  </div>
</div>
