<div>
  <form>
    <div class="form-group row">
      <div class="col-sm-10" style="margin: 2% auto 0 auto">
        <div class="input-group mb-2" style="border-radius: 150px; border: 1px solid black;">
          <input
              type="text"
              class="form-control"
              placeholder="Search For Open Source Projects"
              value="{{searchTerm}}"
              style="border-radius: 150px; border: none; box-shadow: none;"
            >
            <button type="submit" class="btn search-button">
              <div class="input-group-prepend" >
                <fa-icon [icon]="searchIcon"></fa-icon>
              </div>
            </button>
        </div>
      </div>
      <div>
      </div>
    </div>
  </form>
</div>
