.predit-graph-container {
  border: 1px solid rgba(0,0,0,.125); 
  margin-top: 21px; 
  max-width: 730px;
  padding: 20px 0;
  background: white;
}

.no-predition-block {
  text-align: center;
}
.no-border {
  border: none;
  margin-top: 10px;
}

.predit-graph__title {
  text-align: center;
}

.canvas{
  width: 100% !important;
  max-width: 600px;
  height: 100% !important;
  max-height: 300px;
  min-height: 100px;
  min-width: 300px;
  margin: 0 auto;
}

.none {
  display: none;
}
