<div class="predit-graph-container" [ngClass]="{'no-border': !this.trendingGraphInfo}">

  <div class="no-predition-block" *ngIf="!commits">
    <div class="alert alert-danger alert--margin">
      There is no commit history Data For This Repo
    </div>
  </div>
  <div>
    <h5 *ngIf="this.trendingGraphInfo" class="predit-graph__title">Commit Prediction Graph</h5>
    <canvas
      id="canvas"
      [ngClass]="{
        'canvas':commits,
        'none': !commits
      }"
      ></canvas>
  </div>
</div>
