<div class="block">
  <h2 class="header" >Owner Information</h2>
  <div class="card card--center">
    <img class="card-img-top card-img-top--center" [src]="ownerInfo.ownerAvatarUrl" alt="Owner profile avatar">
    <div class="card-body card-body--center">
      <p class="card-body__text">Owner Name: {{ ownerInfo.ownerName }}</p>
        <p class="card-body__text">
          <a [href]="ownerInfo.ownerProfileURL" target="_blank" class="btn btn-primary">Go To Owner Profile Page</a>
        </p>
    </div>
  </div>
</div>

