.platform-filter{
    font-size: 18px;
    border: 1px solid #e1e4e8;
    margin-top: 20px;
}
.platform-filter__title{
  font-size: 20px;
  padding: 10px 0px 0px 20px;
}
.platform-filter--set-margin{
  margin:15px;
}
.platform-filter__item{
  color:#0366d6;
  padding:10px 15px;
  border:none;
}
.platform-filter__item:hover{
  background-color: #f6f8fa;
  color:#0366d6
}
.platform-filter__item__count{
  color: #fff;
  background-color: #6a737d;
  float: right;
  border-radius: 20px;
  padding: 2px 15px;
  font-weight: 600;
  line-height: 1;
}
.platform-filter__selected,
.platform-filter__selected:hover{
  background-color: #0366d6;
  border-radius: 10px;
  color: #fff;
}
.platform-filter--selected__Cancel{
  float: right;
  font-weight: 600;
  padding-right: 5px;
}