<div>
  <form>
    <div class="form-group row">
      <div class="col-sm-10" style="margin: 2% auto 0 auto">
        <div class="input-group mb-2" style="border-radius: 150px; border: 1px solid black;">

          <input
              type="text"
              class="form-control"
              placeholder="Search For Open Source Projects"
              value="{{term}}"
              style="border-radius: 150px; border: none; box-shadow: none;"
            >
            <button type="submit" class="btn search-button">
              <div class="input-group-prepend" >
                <fa-icon [icon]="searchIcon"></fa-icon>
              </div>
            </button>
        </div>
      </div>
      <div>
      </div>
    </div>
  </form>

  <div class="row" style="margin: 0 8vw">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem; border: none">
        <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/capsocial/500/github-512.png" alt="Github image">
        <div class="card-body">
          <h5 class="card-title">{{exampleRepo.repoName}}</h5>
          <p class="card-text">{{exampleRepo.discription.substr(0, 100)}}</p>
          <a href="https://github.com/" target="_blank" class="btn btn-primary">Go To Repo Source</a>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a
            [className]="firstEnter ? 'active nav-link' : 'nav-link'"
            data-toggle="tab"
            [routerLink]="['repo-info']"
            routerLinkActive="active"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            (click)="firstEnter=false"
          >Repo Information</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            routerLink="trending-info"
            routerLinkActive="active"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            (click)="firstEnter=false"
            >Trending Information</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            [routerLink]="['owner-info']"
            routerLinkActive="active"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            (click)="firstEnter=false"
            >Owner Information</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/detail-page">Tab 4</a>
        </li>
      </ul>
    <div class="tab-content" id="myTabContent">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>


