.graph-container {
  max-width: 600px;
  max-height: 300px;
  min-height: 100px;
  min-width: 300px;
}
.canvas{
  width: 100% !important;
  max-width: 600px;
  height: 100% !important;
  max-height: 300px;
  min-height: 100px;
  min-width: 300px;
  /* /* margin: 0 auto; */
}

.none {
  display: none;
}
