<div class="home__container">
  <form (ngSubmit)="submitSearchTerm()" #f="ngForm">
    <div class="home__logo-block row">
      <div class="col-auto home__logo ">
        <a routerLink="/">
          <img src="{{logoImagePath}}" alt="logo image">
        </a>

      </div>
    </div>
    <div class="form-group row">

      <div class="col-sm-10 home__search-block">
        <div class="input-group mb-2 home__search-container" [ngClass]="{'emplty-term': notValid}">
          <div class="input-group-prepend home__search-icon">
            <fa-icon [icon]="searchIcon"></fa-icon>
          </div>
            <input
              type="text"
              name="searchTerm"
              class="form-control home__search-field"
              placeholder="Search For Open Source Projects"
              ngModel
            >
        </div>
        <span class="help-block" *ngIf="notValid">cannot search on empty term</span>
      </div>
    </div>
    <div class="row">
      <div class="col-auto" class="home__search-button-container">
        <button type="submit" class="btn btn-primary search-button">Search</button>
      </div>

    </div>
  </form>
</div>

