.home__container {
  padding-bottom: 30vh;
}

.home__logo-block {
  margin-top: 10%;
  margin-bottom: 5%;
}

.home__logo {
  margin: 0 auto
}
.home__search-block {
  margin: 0 auto;
}
.search-bar{
  border-radius: 50px;
}

.search-button{
  margin-left: 50%;
}
