<form (ngSubmit)="submitSearchTerm()">
  <div class="form-group row" style="margin-top: 25%;">

    <div class="col-sm-10">
      <div class="input-group mb-2" style="border-radius: 150px; border: 1px solid black;">
        <div class="input-group-prepend" style="margin: 5px 0px 0px 10px;font-size: 20px;">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </div>
        <input
            type="text"
            class="form-control"
            placeholder="Search For Open Source Projects"
            [(ngModel)]="searchKeyWord"
            [ngModelOptions]="{standalone: true}"
            style="border-radius: 150px; border: none; box-shadow: none;"
          >

      </div>

    </div>
  </div>
  <div style="margin: 0 auto">
    <button type="submit" class="btn btn-primary search-button">Search</button>
  </div>

</form>
