<div>
  <h3 style="padding-left: 10px; padding-bottom: 20px;">Other Search Results</h3>
  <div class="container">
    <div  style="float: left">
      <button class="btn paddle left-paddle" (click)="scrollLeft()"> < </button>
    </div>
    <div #widgetsContent class="middle">
        <div
      class="info-widget"
      *ngFor="let similarRepo of similarRepos; let i = index;"
    >
      <div
      class="card"
      style="cursor: pointer; height: 142px;"


      (click)="ClickSimilarRepo(similarRepo.platform ,similarRepo.repoName)">
      <div class="card-body">

        <h5 class="card-title">
          <a [routerLink]="['/detail-page', similarRepo.platform, similarRepo.repoName]">{{ similarRepo.repoName }}</a>
          </h5>
        <span *ngIf="similarRepo.description && similarRepo.description.length > 54 else showWholeDescription">
          {{ similarRepo.description.slice(0,54) }} ...
        </span>
        <ng-template #showWholeDescription>
          <p>{{similarRepo.description}}</p>
        </ng-template>
        <p *ngIf="!similarRepo.description">
          No Description been provided .....
        </p>
        <div class="row">
          <div class="col-sm-1">
            <fa-icon [icon]="github" *ngIf="similarRepo.platform === 'github'"></fa-icon>
            <fa-icon [icon]="gitlab" *ngIf="similarRepo.platform === 'gitlab'"></fa-icon>
            <fa-icon [icon]="bitbucket" *ngIf="similarRepo.platform === 'bitbucket'"></fa-icon>
          </div>
          <div class="col-sm-5">
            <span >
              <fa-icon [icon]="star" style="color: yellow"></fa-icon>: {{ similarRepo['starCount'] }}
            </span>

          </div>
        </div>
      </div>
    </div>
      </div>

    </div>
    <div class="">
      <button class="btn paddle right-paddle" (click)="scrollRight()">></button>
    </div>
  </div>
    <!-- <app-similar-repo [similarRepos]="similarRepos" ></app-similar-repo> -->
</div>
